# Estructuras de datos

In [26]:
import pandas as pd
import numpy as np

## Crear DataFrames en pandas

In [13]:
simple_Df=pd.DataFrame({'Números': range(0,50), 'Números impares': range(1,100,2)})
simple_Df.head()
# range(0,50), por defecto incremento de 1
# range(1,100,2), incremento de 2 para obtener números impares

   Números  Números impares
0        0                1
1        1                3
2        2                5
3        3                7
4        4                9

In [14]:
simple_Df.tail()

    Números  Números impares
45       45               91
46       46               93
47       47               95
48       48               97
49       49               99

In [16]:
type(simple_Df)

pandas.core.frame.DataFrame

#### Crear DataFrame a partir de Array, utilizando la función NumPy column_stack()

In [33]:
array1=np.array(range(1,100,2))
array2=np.array(range(0,100,2)) # Array de números pares
simple_array=np.column_stack((array1,array2))
simple_array[0:5]

array([[1, 0],
       [3, 2],
       [5, 4],
       [7, 6],
       [9, 8]])

In [34]:
simple_array_Df=pd.DataFrame(simple_array,columns=['Impares','Pares'])
simple_array_Df.head()

   Impares  Pares
0        1      0
1        3      2
2        5      4
3        7      6
4        9      8